---
name: lint-docs

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  lint:
    name: Lint documents
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: dprint/check@2f1cf31537886c3bfb05591c031f7744e48ba8a1 # v2.2
