---
name: lint-docs

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  lint:
    name: Lint documents
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: dprint/check@2f1cf31537886c3bfb05591c031f7744e48ba8a1 # v2.2
