---
name: release-docker

on:
  push:
    tags:
      - "v*.*.*"
      - "v*.*.*-rc*"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Login to Docker Hub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set variables
        id: vars
        run: |
          repository=${{ github.repository }}
          echo "lowercase_repository=${repository,,}" >> ${GITHUB_OUTPUT}

      - name: Build and push
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: >
            ghcr.io/${{ steps.vars.outputs.lowercase_repository }}:latest,
            ghcr.io/${{ steps.vars.outputs.lowercase_repository }}:${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
