---
name: release-github

on:
  push:
    tags:
      - "v*.*.*"
      - "v*.*.*-rc*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Create Release
        uses: softprops/action-gh-release@c062e08bd532815e2082a85e87e3ef29c3e6d191 # v2
        with:
          generate_release_notes: true
          token: ${{ secrets.GITHUB_TOKEN }}
